{% load humanize %}
<h3>Recent Activity</h3>

<ul>
    {% for action in actions %}
        {% if action.verb == "deleted a highlight" %}
            <li><a href="{% url "users:profile" action.user.username %}"> {{ action.user.username }}</a>
                {{ action.verb }} ({{ action.created|naturaltime }})</li>
        {% else %}
            <li><a href="{% url "users:profile" action.user.username %}"> {{ action.user.username }}</a>
                {{ action.verb }} "<a href="{{ action.target.get_absolute_url }}">{{ action.target }}"</a> ({{ action.created|naturaltime }})</li>
        {% endif %}
    {% empty %}
        <li>No activity yet.</li>
    {% endfor %}
</ul>